<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="USB_SuperMarket" >
	<test name="SuperMarket" allow-return-values="true">
		<classes>
			<!-- packagename.Testcase class name -->
			<class name="com.practice.demo.retail.SuperMarketClient" />
		</classes>
	</test>
</suite>